:root{
    --cor-padrao: #f30808;
    --cor-icons-pop-up-menu-hover: #e9e9e9;
    --cor-background-pop-up-menu: #fff;
    --cor-textos:#000;
    --cor-hamburguer: #000;
    --cor-button-search: #d3d3d3
}